---
# index.html
title: index
layout: default
---

<!-- Begin intro section (Parallax) -->
<section id="section-intro" class="intro-parallax full-height">

    <!-- Element background image (parallax) -->
    <div class="full-cover intro-parallax-image bg-image" style="background-image: url(assets/img/intro/slider/intro-slide-bg-3.jpg);"></div>

    <!-- Element cover -->
    <div class="cover"></div>

    <!-- Intro caption -->
    <div class="intro-caption intro-parallax-caption text-white">
        <h1>
            <span class="bg-main text-white">Teamtau</span> software<br/> and devops 

        </h1>
        <p></p>
    </div>

    {% include_relative _includes/github.html %}

    <!-- Scroll down arrow -->
    <a class="scroll-down-arrow page-scroll text-center" href="#section-1"><span class="text-white"><i class="fa fa-arrow-down"></i></span></a>

</section>
<!-- End intro section (Parallax) -->
<!-- Section 1 -->
<section id="section-1" class="welcome bg-dark text-white">
    <div class="container">
        <div class="row">

            <div class="col-left col-md-6">
                <div class="col-inner">

                    <!-- Begin Heading -->
                    <div class="heading heading-xlg">
                        <h1><span class="bg-white text-dark">Wel</span><span class="bg-main text-white">come</span></h1>
                    </div>
                    <!-- End Heading -->


                    <p class="lead">Specialized in 
React, React native, Nodejs, Devops, CI/CD, Ansible, AWS..</p>

                </div> <!-- /.col-inner -->
            </div> <!-- /.col -->

            <div class="col-right col-md-6">
                <div class="col-inner">

                   <p class="lead">
                        Our team are highly skilled Stockholm based software developers who have long-term experience across a wide range of technologies and industries. Whether you need specific skills or ongoing support, we have the people to help you.
                    </p>

                </div>
            </div> <!-- /.col -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<section id="section-2" class="team split-box no-padding">
    <div class="container-fluid">
        <div class="row">

             <div class="row-same-height"> 

                <div class="col-left col-lg-6 col-lg-height no-padding">
                    <img src="assets/img/work-bg.jpg" alt="image">
                </div> <!-- /.col -->

                <div class="col-right col-lg-6 col-lg-height col-middle no-padding">
                    <div class="col-inner">

                        <!-- Begin Heading -->
                        <div class="heading heading-xlg">
                            <h1><span class="bg-dark text-white">Who</span><span class="bg-main text-white">We Are</span></h1>
                        </div>
                        <!-- End Heading -->

                        <p class="lead">We are a software development company from Stockholm and we are passionate about delivering strong, robust software solutions to our clients. We specialise in enterprise level systems that can solve many of the problems that businesses face as they grow and adapt to a changing marketplace.</p>

                        <br>
                        

                    </div> <!-- /.col-inner -->
                </div> <!-- /.col -->
            </div>
            <!-- End responsive columns of same height -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<!-- Section 6 -->
<section id="section-6" class="portfolio no-padding">
    <div class="container-fluid">
        <div class="row">

            <!-- Begin masonry -->
            <div class="masonry popup-gallery">

                <!-- Begin portfolio heading -->
                <div class="box col-md-4 col-sm-6">
                    <div class="box-inner portfolio-heading">
                        <div class="cover"></div>
                        <img src="assets/img/portfolio/portfolio-heading-img.jpg" alt="image">
                        <!-- Begin Heading -->
                        <div class="heading heading-md align-center">
                            <h1><span class="bg-main text-white">P</span>ortfolio</h1>
                        </div>
                        <!-- End Heading -->
                    </div>
                </div>
                <!-- End portfolio heading -->

                {% for post in site.categories.portfolio %}
                <!-- Begin portfolio grid box  -->
                <div class="box box-1 col-md-4 col-sm-6">
                    <div class="box-inner">
                        <a href="#portfolio-1" class="portfolio-link inline-popup-trigger"></a>
                        <div class="cover"></div>
                        <img class="thumbnail" src="{{post.thumbnail}}" alt="image">
                       <h3 class="entry-count"># {{ forloop.index }} </h3>
                    </div>

                    <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
                    <div id="portfolio-1" class="inline-popup mfp-hide">
                        <div class="inline-popup-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="thumbnail margin-bottom-40" src="{{post.thumbnail}}" alt="image">
                                </div>
                                <div class="col-md-8 margin-bottom-20">
                                    <h1 class="no-margin-top">{{post.title}}</h1>
                                    <p>{{post.except}}</p>
                                </div>
                                <div class="col-md-4 margin-bottom-20 padding-left-40">
                                    <ul>
                                        <li>Service: <strong>{{post.service}}</strong></li>
                                        <li>Date: <strong>{{post.date | date: '%B %d, %Y' }}</strong></li>
                                                
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                    <!-- End inline popup content -->

                </div>
                <!-- End portfolio grid box 1 -->
                {% endfor %}

            </div>
            <!-- End masonry -->
            
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>